html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.page_header{
  padding-top: 34px;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.logo {
  text-decoration: none;
}


.fl::first-letter {
  text-transform: uppercase;
}
.uppercase {
  text-transform: uppercase;
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation__list_item {
  display: inline-block;
}

.navigation__link {
  text-decoration: none;
  line-height: 0.8;
  color: rgb(255, 255, 255);
}

.navigation__link:hover {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.wrapper {
  padding-top: 228px;
  background: url(../img/tablet/tablet_wrapper.png);
  background-color: rgb(26, 25, 21);
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  min-height: 540px;
}

.find_partner_title {
  font-size: 30px;
  line-height: 1.8;
}

.find_partner__description {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 300;
  display: inline-block;

}

.find_partner__button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  border-radius: 30px;
  border: none;
  line-height: 1;
  padding: 14px 40px;
  background-color: rgb(255, 78, 80);
}

.partners__wrapper {
  min-width: 320px;
  text-align: center;
  margin: 0 auto;
}
.partners__title {
  margin: 0;
}

.partners__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.partners__list_article {
  display: inline;
  text-align: center;
}

.round{
  border-radius: 50%;
}

.partners__list_img {
  margin: 0 auto;
}

.partners__list_icon{
  margin-bottom: 20px;
}
.partners__list_icon::after {
  content: '';
  display: block;
  position: absolute;
  height: 40px;
  width: 40px;
  border: 4px #ffffff solid;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  transform: translate(80%, -100%);
}

.red::after {  
  background-color:  rgb(255, 78, 80);
  background-image: url(../img/mobile/Shape\ 128.png);
}

.yellow::after {    
  background-color: rgb(255, 165, 7);
  background-image: url(../img/mobile/Shape\ 155.png);
}

.green::after {    
  background-color: rgb(28, 215, 173);
  background-image: url(../img/mobile/Shape\ 153.png);
}

.blue::after {    
  background-color: rgb(78, 115, 219);
  background-image: url(../img/mobile/Shape\ 170.png);
}

.partners__list_title {
  margin: 0;
}

.partners__list_description {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(102, 102, 102);
  line-height: 1;
  font-weight: 300;
  margin: 0;
}

.partners__button {
  border-style: solid;
  border-width: 2px;
  color: rgb(255, 78, 80);
  border-color: rgb(255, 78, 80);
  font-size: 14px;
  border-radius: 20px;
  text-align: center;
  padding: 10px 65px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 56px;
}
